# Data Preprocessing

This notebook cleans and prepares the thermography dataset
for machine learning models.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../data/dataset_thermography_Electricity.csv")
df.head()

,temp_0_0,temp_1_0,temp_2_0,temp_3_0,temp_4_0,temp_5_0,temp_6_0,temp_7_0,temp_8_0,temp_9_0,...,V_L1_L2_S,V_L2_L3_S,V_L1_L3_S,A_L1_S,A_L2_S,A_L3_S,D_V_L1_L2,D_V_L2_L3,D_V_L1_L3,m_falla
0,26.7,26.6,26.6,26.7,26.7,26.6,26.6,26.7,26.7,26.6,...,213.3,211.4,211.1,3.16,4.13,4.06,0.3,0.5,0.3,Normal
1,27.4,27.7,27.7,27.4,27.4,27.6,27.6,27.1,27.1,27.6,...,213.3,211.4,211.0,3.16,4.13,4.06,0.2,0.4,0.3,Normal
2,27.3,27.6,27.6,27.3,27.3,27.5,27.5,27.2,27.2,27.6,...,213.3,211.5,211.3,3.18,4.13,4.07,0.1,0.3,0.2,Normal
3,27.2,27.5,27.5,27.1,27.1,27.2,27.2,27.2,27.2,27.7,...,213.4,211.6,211.2,3.17,4.14,4.06,0.1,0.1,0.3,Normal
4,27.1,26.9,26.9,26.9,26.9,27.6,27.6,27.1,27.1,27.0,...,213.6,211.5,211.1,3.16,3.97,4.07,0.1,0.3,0.3,Contactos flojos

In [3]:
# Check missing values
df.isnull().sum()

temp_0_0     0
temp_1_0     0
temp_2_0     0
temp_3_0     0
temp_4_0     0
            ..
A_L3_S       0
D_V_L1_L2    0
D_V_L2_L3    0
D_V_L1_L3    0
m_falla      0
Length: 76816, dtype: int64

In [4]:
df = df.dropna()

In [5]:
df.dtypes
df.select_dtypes(include="object").columns

Index(['m_falla'], dtype='object')

In [6]:
df.to_csv("../data/dataset_clean.csv", index=False)

In [7]:
import sys
import os

PROJECT_ROOT = os.path.abspath("..")
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)

In [8]:
from src.utils import load_dataset

df = load_dataset("../data/dataset_clean.csv")
df.head()

,temp_0_0,temp_1_0,temp_2_0,temp_3_0,temp_4_0,temp_5_0,temp_6_0,temp_7_0,temp_8_0,temp_9_0,...,V_L1_L2_S,V_L2_L3_S,V_L1_L3_S,A_L1_S,A_L2_S,A_L3_S,D_V_L1_L2,D_V_L2_L3,D_V_L1_L3,m_falla
0,27.4,27.7,27.7,27.4,27.4,27.6,27.6,27.1,27.1,27.6,...,213.3,211.4,211.0,3.16,4.13,4.06,0.2,0.4,0.3,Normal
1,27.3,27.6,27.6,27.3,27.3,27.5,27.5,27.2,27.2,27.6,...,213.3,211.5,211.3,3.18,4.13,4.07,0.1,0.3,0.2,Normal
2,27.2,27.5,27.5,27.1,27.1,27.2,27.2,27.2,27.2,27.7,...,213.4,211.6,211.2,3.17,4.14,4.06,0.1,0.1,0.3,Normal
3,27.8,27.7,27.7,27.8,27.8,27.7,27.7,28.0,28.0,28.0,...,213.4,211.5,211.0,3.17,4.14,4.07,0.1,0.3,0.3,Normal
4,28.4,28.2,28.2,28.2,28.2,28.3,28.3,28.1,28.1,28.2,...,213.3,211.5,211.1,3.16,4.13,4.07,0.2,0.3,0.3,Normal